USE_WEBHOOK=Bool
IS_LOCAL=Bool
MONGODB_USERNAME=string
MONGODB_USER_PASSWORD=string
SCREENSHOT_API=string
TELEGRAM_BOT_TOKEN=string
TELEGRAM_BOT_TOKEN_TEST=string
TELETHON_API_ID=integer
TELETHON_API_HASH=string
TELETHON_SESSION=string
TELETHON_SESSION_TEST=string
PHANTOM_BOT_CHANNEL_ID=integer
MAX_DOWNLOAD_SIZE_MB=integer